[submodule "thirdparty/oniguruma"]
	path = thirdparty/oniguruma
	url = git@github.com:kkos/oniguruma.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = git@github.com:Tencent/rapidjson.git
